{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student System</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="layout">

    <!-- Sidebar -->
    <div class="sidebar">
        <h2>🎓 System</h2>
        <a href="/">🏠 Home</a>
        <a href="/dashboard/">📊 Dashboard</a>
        <a href="/add/">➕ Add Student</a>
    </div>

    <!-- Main Content -->
    <div class="main">
        {% block content %}{% endblock %}
    </div>

</div>

</body>
</html>