.login-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(120deg,#4e73df,#1cc88a);
}

.login-box{
  background:white;
  padding:40px;
  border-radius:12px;
  width:320px;
  text-align:center;
  box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

.login-box input{
  width:100%;
  padding:12px;
  margin:10px 0;
}

.login-box button{
  width:100%;
  padding:12px;
  background:#4e73df;
  color:white;
  border:none;
}